@media (max-width: 768px) {

    .arrow-up {
        right: 30px;
    }

    #header {
        left: 0;
        width: 100%;
        right: 0;
        transform: none;
        padding: 5px;
    }

    #header .container {
        padding: 0;
    }

    #header .container .header-wrapper {
        padding: 10px 25px;
        gap: 10px;
    }

    #header .navigation {
        gap: 10px;
    }

    .banner .intro-banner {
        width: 100%;
        padding: 0 10px;
    }

    .banner .intro-banner img {
        max-width: 400px;
    }

    .banner .action-banner {
        flex-direction: column;
    }

    .banner .action-banner a {
        font-size: 18px;
    }

    .banner .earning-steps {
        width: 100%;
        padding: 0 10px;
    }

    .banner .earning-steps h4 {
        text-align: center;
        padding-top: 20px;
    }

    .banner .earning-steps .step-wraper {
        flex-direction: column;
    }

    .earning-steps .step-wraper div {
        width: 100%;
        padding: 10px;
    }

    .banner .earning-steps h4::after {
        width: 100%;
        bottom: 20px;
        inset-inline-start: 0;
    }

    .banner .images-banner {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature {
        width: 100%;
        padding: 0 10px;
    }

    .feature .feature-items {
        grid-template-columns: repeat(1, 1fr);
    }

    #about .row {
        width: 100%;
        padding: 0 10px;
        flex-direction: column;
    }

    #about .row .left,
    #about .row .right {
        width: 100%;
    }

    #about .row .about-description h3 {
        font-size: 35px;
    }

    #about .row img {
        height: 250px;
    }

    .feedback .feedback-title h2::after {
        width: 100%;
        inset-inline-start: 0;
        bottom: 20px;
    }

    #cta {
        margin: 0 10px;
    }

    #cta .container {
        width: 100%;
        padding: 20px;
        height: 250px;
    }

    #cta .cta-description h4 {
        font-size: 30px;
        text-align: center;
    }

    #cta .cta-description span {
        text-align: center;
    }

    #cta .container .cta-description {
        grid-column-start: 1;
        grid-column-end: 12;
    }

    #cta .container>img {
        display: none;
    }

    #cta .container .cta-description div {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    #footer .main-footer .container {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    #footer .main-footer .container .items {
        flex-direction: row;
    }

    #footer .main-footer .container .items div {
        flex-direction: column;
        gap: 10px;
    }

    /* #footer .main-footer .container .items div img {
        width: 50px;
        height: 50px;
    } */
}

/* @media (min-width: 992px) {
    #header .container {
        padding: 0 1.5rem;
    }
}

@media (min-width: 1400px) {

    #header .container,
    .carousel-container {
        max-width: 1440px;
    }
}

@media (min-width: 1200px) {

    #header .container,
    .carousel-container {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {

    #header .container,
    .carousel-container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {

    #header .container,
    .carousel-container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {

    #header .container,
    .carousel-container {
        max-width: 540px;
    }
}

@media (max-width: 430px) {

    #header .container,
    .carousel-container {
        max-width: 400px;
    }
} */